#app {
  color: #2c3e50;
}

ul {
  list-style-type: none;
  padding: 0;
}

a {
  color: #42b983;
}

h5 { margin: 25px 0; }

.logo {
  margin-bottom: 25px;
}

.is-active {
	border: 1px solid #999;
}

.move-enter-active,
.move-leave-active {
  transform: translateX(0);
  transition: all .3s linear;
}

.move-enter,
.move-leave-to {
  transform: translateX(100%);
}

.about {
  h1 {
    margin-top: 20px;
  }
  p {
    margin: 20px 0;
  }
}
